body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 800px;
    height: 200px;
    display:flex;
    flex-direction: column-reverse;
}

#box1 {
    background-color: green;
}

#box2 {
    background-color: aqua;
}


#box3 {
    background-color: purple;
}


#box4 {
    background-color: blue;
}

#box5 {
    background-color: goldenrod;
}